# --- GCP & Secrets ---
credentials
.env

# --- Security (The "Must Haves") ---
.env
.env.local
.env.*

# --- uv & Python Environment ---
.venv/
__pycache__/
*.py[cod]
.python-version

# --- Jupyter Notebooks ---
notebooks